
                    


<label for="formFile" class="label-textarea-register-form">Patient's profile picture</label>
<input style="margin-right:15rem" class="inpt-patient-image" type="file" id="img" name="img">



<div id="patient-registration-form" class="main-container-register-patient-form" >
    <div class="form-heading">Patient Regisration Form</div>
    <div class="secondeary-container-resgister-patinet-form">

        <form  action="{% url 'register_patient' %}" method="post" enctype="multipart/form-data" onsubmit="disableButton();" class="form-container-formm">
            {% csrf_token %}

            <div class="mb-4 div-container-input">
                
                <label  class="label-input-register-form">Patient Name</label>
                <input type="text" class="inpt-format-register-form" id="name" name="name" placeholder="Enter patient name ">

                
                <label  class="inpt-label-placing label-input-register-form" for="cars">Gender</label>
                <select   class="inpt-format-register-form" name="gender" id="gender">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                    <option value="o">Other</option>
                </select>
               
                <label class="inpt-label-placing label-input-register-form" for="startDate">Age</label>
                <input id="age" name="age" class="inpt-format-register-form"  type="number" max="150" />
                
                <label class="inpt-label-placing label-input-register-form" for="startDate">First appointment/diagnos</label>
                <input id="profile_created_on_or_first_diagnos" name="profile_created_on_or_first_diagnos" class="inpt-format-register-form" type="date" />
        
            </div>

            <hr>

            <div class="mt-4 mb-4">

                <label  class=" label-input-register-form">Contact no.</label>
                <input max="9999999999999" type="number" class="inpt-format-register-form" id="contact_no" name="contact_no" placeholder="Enter contact no.">

                <label class="inpt-label-placing label-input-register-form">Patient Address</label>
                <input  id="inpt-registration-form-address-id" type="text" class="inpt-format-register-form" id="address" name="address" placeholder="Enter patient address ">


            </div>

            <hr>


            <div class="mt-4 mb-5 div-container-textarea ">

                <label  class="label-textarea-register-form">Seeing Doctor for</label>
                <textarea class="text-area-inpt-register-form" id="problem" name="problem" rows="3"></textarea>
          
                <label  class="label-textarea-register-form">Medical History</label>
                <textarea class="text-area-inpt-register-form" id="medical_history" name="medical_history" rows="3"></textarea>
        
            </div>
            <div  class="mb-5 div-container-textarea ">
                <label  class="label-textarea-register-form">Operation History</label>
                <textarea class="text-area-inpt-register-form" id="operation_history" name="operation_history" rows="3"></textarea>
       
                <label  class="label-textarea-register-form">Other detials</label>
                <textarea class="text-area-inpt-register-form" id="other_details" name="other_details" rows="3"></textarea>
            </div>

            <hr>
            
            <div class="mb-3">

                


                <label for="formFile" class="label-textarea-register-form">Patient's profile picture</label>
                <input style="margin-right:15rem" class="inpt-patient-image" type="file" id="img" name="img">




                <button style="border-radius: 50px; " type="submit" class="mr-5 btn btn-primary btn-submit-regis-form register-form-btn-shape">Submit</button>

                <button style="border-radius: 50px;" type="reset" onclick="hideForm()" class="ml-5 btn btn-danger btn-hide-regis-form register-form-btn-shape">Cancel</button>
            </div>

        </form>


    </div>

</div>
