.shadow-btn {
    width: 100%;
    background-color: inherit;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #58b3a9;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(44, 187, 163, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 175, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,
    rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,
    rgba(44, 187, 99, .15) 0 16px 32px;
}

.shadow-btn:hover {
    transform: scale(.9);
    opacity: .75;
    background-color: #76d5cb;
    color: #fff;
    box-shadow: rgba(44, 187, 163, 0.2) 0 -25px 18px -14px inset,
                rgba(44, 187, 175, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,
                rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,
                rgba(44, 187, 99, .15) 0 16px 32px;

}


/* shadow btn 2 */

.shadow-btn-2 {
    width: 100%;
    background-color: inherit;
    border: 0 solid #e2e8f0;
    border-radius: 1.0rem;
    box-sizing: border-box;
    color: #58b3a9;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .8rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.7rem 0.5rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(44, 187, 163, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 175, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,
    rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,
    rgba(44, 187, 99, .15) 0 16px 32px;
}

.shadow-btn-2:hover {
    transform: scale(.9);
    opacity: .75;
    background-color: #76d5cb;
    color: #fff;
    box-shadow: rgba(44, 187, 163, 0.2) 0 -25px 18px -14px inset,
                rgba(44, 187, 175, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,
                rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,
                rgba(44, 187, 99, .15) 0 16px 32px;

}



/* ----------------- from css ----------------- */

.div-form-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(172, 172, 172); /* Fallback color */
    background-color: rgba(211, 210, 210, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.form-heading {
    color: rgb(56, 56, 56);
    background-color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3%;
    text-align: center;
    padding: 20px;
}

/* Modal Content/Box */
.form-container-formm {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border-width: 0px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.form-container-formm button[type="button"] {
    background-color: #f44336;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    width: auto;
    margin: 8px 0;
    position: absolute;
    right: 10px;
    top: 10px;
}

.form-container-formm button[type="button"]:hover {
    background-color: #d32f2f;
}

.btn-submit-regis-form {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.btn-hide-regis-form {          
    width: 50%;
    text-align: center;
    margin-left: 20%;

}


/* --------------- from css ends --------------- */




/* ------------------- Nav bar css ------------------- */

.hc-navbar {
    background-color: #47b3a8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hc-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.hc-navbar-brand{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    animation: slideIn 1s ease-in-out;
}

.hc-navbar-toggler {
    display: none;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.hc-navbar-menu {
    margin-left: 14rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;
    transition: transform 0.3s ease-in-out;
}

.hc-navbar-item {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    position: relative;
    transition: color 0.3s;
    font-weight: 500;
}

.hc-navbar-item::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #e74c3c;
    transition: width 0.3s, left 0.3s;
}

.hc-navbar-item:hover::before {
    width: 100%;
    left: 0;
}

.hc-navbar-item:hover {
    color: #e74c3c;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hc-navbar-toggler {
        display: block;
    }

    .hc-navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .hc-navbar-menu.active {
        display: flex;
        transform: translateY(0);
    }

    .hc-navbar-item {
        width: 100%;
        text-align: center;
        padding: 14px 0;
    }
}

/* Animations */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



#inpt-search-patient {
    display: none;
}

.form-search-patient {
    margin-top:.7rem;
}

.input-form-search {
    width: 10rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    margin-right: -5px;
    border-width: 0px;
}

.input-form-search:focus {
    outline: none;
}

.btn-form-search-patient {
    background-color: white;
    color: #47b3a8;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 2px;
    border-width: 0px;
}

.btn-form-search-patient:hover {
    background-color: #47b3a8;
    color: #f8f8f8;
}



/* ----------------- Nav bar css ends ----------------- */


/* ------------------ Searching patient fuctionality  ------------------ */

.searched-patient {
    background-image: linear-gradient(to right,rgb(165, 255, 240),  rgba(255,0,0,0) );
    border-radius: 20px;
}




/* --------------- Searching patient fuctionality  ends ---------------- */



/* --------------- Form ---------------  */


/* ------------- Form ends -------------  */


/* --------------- shape trasformation  style --------------- */

.shape {

    width: 150px;
    height: 150px;
    background: #4285F4;
    margin: 0 auto;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.shape.circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

/* Circle to square */
.shape.circle.to-square:hover {
    -webkit-clip-path: circle(70% at 50% 50%);
    clip-path: circle(70% at 50% 50%);
}
/* --------------- shape trasformation  ends  --------------- */


