{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ patient.name }}'s profile</title>

    <link rel="stylesheet" href="{% static 'style_patient_details.css' %}">
    <link rel="stylesheet" href="{% static 'style_base_components.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">

    <!-- ---------------- from w3 school for icons ---------------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <style>
        a:hover { text-decoration: none; }
        
        a {
            outline: none;
        }
    </style>

</head>
<body>

    <!-- ------------------------- Nav bar -------------------------  -->

    <nav class="hc-navbar">
        <div class="hc-navbar-container">
            <a href="#" class="hc-navbar-brand">Patient Data Manager PDM</a>
            <button class="hc-navbar-toggler" onclick="toggleMenu()">&#9776;</button>
            <div class="hc-navbar-menu" id="navbarMenu">
                <a href="home" class="hc-navbar-item">Home <i class="fa fa-home" style="font-size:15px"></i></a>
                <a href="#" onclick="showForm()" class="hc-navbar-item">Add treatment for patient</a>
                <a href="#" class="hc-navbar-item">About</a>
            
                <a style="margin-left: 5rem;" href="signout" class="hc-navbar-item">Logout <i class="fa fa-sign-out" style="font-size:15px"></i></a>
            </div>
        </div>
    </nav>

    <!-- ---------------------- Nav bar ends ------------------------ -->

    
    <!-- ---------------------- Form to Change Patient's details ---------------------- -->
    
    <div id="change-patient-details-form" class="div-form-container" style="display: none;" >
        <div class="form-heading">Change Patient's details</div>
        <form  action="{% url 'change_patient_details' %}" method="post" enctype="multipart/form-data" onsubmit="disableButton();" class="form-container-formm">
            {% csrf_token %}

            <input type="text" style="display: none;" value="{{ patient.id }}" id="patient_id_to_change_data" name="patient_id_to_change_data">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Patient Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter patient name here" value="{{ patient.name }}">
            </div>
       
            <div >
                <label  class="form-label" for="cars">Gender</label>
                <select  class="btn btn-primary dropdown-toggle" name="gender" id="gender" selected="selected">

                    <option value="">
                        {% if patient.gender == 'm'  %}
                            Male
                        {% elif patient.gender == 'f'  %}
                            Female
                        {% else %} 
                            Other
                        {% endif %}
                    </option>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                    <option value="o">Other</option>
                </select>
                <br><br>
            </div>

            <div  class="mb-3">
                <label for="startDate">Data of Birth:  {{ patient.dob }}</label>
                <input id="dob" name="dob" class="form-control" type="date" value="{{ dob }}"/>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Seeing Doctor for</label>
                <textarea class="form-control" id="problem" name="problem" rows="3" >{{ patient.problem }}</textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Medical History</label>
                <textarea class="form-control" id="medical_history" name="medical_history" rows="3" >{{ patient.medical_history }}</textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Operation History</label>
                <textarea class="form-control" id="operation_history" name="operation_history" rows="3" >{{ patient.operation_history }}</textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Other detials</label>
                <textarea class="form-control" id="other_details" name="other_details" rows="3">{{ patient.other_details }}</textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Contact no.</label>
                <input type="text" class="form-control" id="contact_no" name="contact_no" value=" {{ patient.contact_no }}">
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Patient's profile picture</label>
                <input class="form-control" type="file" id="img" name="img">
            </div>

            <button type="submit" class="btn btn-primary btn-submit-regis-form" onclick="return confirm('Are you sure?');">Change Patient Details</button>
        </form>

        <div class="btn-hide-regis-form">
            <button type="reset" onclick="showChangePatientForm()" class="btn btn-primary mb-4 btn-hide-regis-form">Cancel</button>
        </div>
    </div>

    <!-- ---------------------- Form to change patient details ends here ---------------------- -->
    


    <!-- ---------------------- Some message here ---------------------- -->

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"> 
        <strong>Message: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}

    <!-- ---------------------- Message ends here ---------------------- -->


    <!-- ---------------------- Patient Details div ---------------------- -->

    <div class="main-container">

        <div  class="main-div-forl column" id="{{ patient.id }}">
            <div class="div-heading">{{ patient.name }}</div>
            <hr>

            <!-- this div contains the 2 div in which 1st div contains information and 2nd contains img -->
            <div class="div-div-img-horizontal"> 
                
                <div >
                    <table class="table">
                        <tr >
                            <th class="field-headings">Id</th>
                            <td class="field-values">{{ patient.id }}</td>
                        </tr>
                        <tr >
                            <th class="field-headings">Name</th>
                            <td class="field-values">{{ patient.name }}</td>
                        </tr>
                        <tr >
                            <th class="field-headings">Contact No. </th>
                            <td class="field-values">  {{ patient.contact_no }}</td>
                        </tr>
                        <tr >
                            <th class="field-headings">Gender</th>
                            <td class="field-values">
                                {% if patient.gender == 'm'  %}
                                    Male
                                {% elif patient.gender == 'f'  %}
                                    Female
                                {% else %} 
                                    Other
                                {% endif %}
                            </td>
                        </tr>
                        <tr >
                            <th class="field-headings">Dob</th>
                            <td class="field-values">{{ patient.dob }}</td>
                        </tr>
                    </table>
                    <!-- <div>contact no: 018318230</div>
                    <div>gender: male</div>
                    <div>age: 20 years </div> -->
                    
                </div>
                <div >
                    
                        {% if patient.img.url != ''  %}
                            <img id="patient-img-cont" class="patient-pi" src="{{ patient.img.url }}" alt="" onclick="showImgInBigSize()" >

                        {% else  %}
                            <img id="patient-img-cont"  class="patient-pi" src="../static/imgs/default_patient_img.jpg" alt="" onclick="showImgInBigSize()"> 
                        {% endif %}

                    
                </div>
            </div>
    
            <table class="table">
                <tr >
                    <th class="field-headings">Diagnos</th>
                    <td class="field-values">{{ patient.problem }}</td>
                </tr>
                <tr >
                    <th class="field-headings">Medical History: </th>
                    <td class="field-values">{{ patient.medical_history }}</td>
                </tr>
                <tr >
                    <th class="field-headings">Operation History: </th>
                    <td class="field-values">{{ patient.operation_history }}</td>
                </tr>
                <tr >
                    <th class="field-headings">Other details: </th>
                    <td class="field-values">{{ patient.other_details }}</td>
                </tr>
            </table>
    
            <div class="div-click-to-go">
                {% csrf_token %}
    
              
                <a style="color: #47b3a8;" class="shadow-btn-2" onclick="showChangePatientForm()">Click to edit Profile</a>   

                
                <a href="#" onclick="showForm()" style="margin-top: 20px;" class="shadow-btn-2" >Add treatment for patient</a>
              
            </div>
    
            
            {% if total_remaining_amt > 0 %}

            <div style="color: rgb(255, 57, 57); margin-top:40px" class="div-heading">Total Fees due: {{ total_remaining_amt }}</div>

            {% endif %}

        </div>


        <!-- div to show most recent treatment only 1 -->

        <div class="upper-conatiner-all-treatment-details">

            <h3 class="heading-all-details">Most recent treatemnt details</h3>
            {% for detail in patient_all_treatment_details|slice:":1" %}

                <div class="conatiner-all-treatment-details">

                    

                    <table class="table">
                        <tr class="treatment-no-st" >
                            <th>Treatment no.</th>
                            <td class="text-wrap-for-th">{{ detail.n_th_treatment }}</td>
                        </tr>
    
                        <tr >
                            <td><br></td>
                        </tr>
    
                        <tr>
                            <th>Problem in detail</th>
                            <td class="text-wrap-for-th">{{ detail.problem_detail }}</td>
                        </tr>
    
                        <tr >
                            <th>Treatment given</th>
                            <td class="text-wrap-for-th">{{ detail.treatment_given }}</td>
                        </tr>
    
    
                        <tr>
                            <th>Medicine prescribed</th>
                            <td class="text-wrap-for-th">{{ detail.medicine_prescribed }}</td>
                        </tr>
    
                        
                        <tr >
                            <td><br></td>
                        </tr>
    
    
                        <tr>
                            <th>Date on treatemnt given</th>
                            <td class="text-wrap-for-th">{{ detail.current_checkup_date }}</td>
                        </tr>
    
                        <tr>
                            <th>Next checkup date give</th>
                            <td class="text-wrap-for-th">{{ detail.next_checkup_date }}</td>
                        </tr>
    
    
                        <tr>
                            <th>Remarks (Extra)</th>
                            <td class="text-wrap-for-th">{{ detail.remarks }}</td>
                        </tr>
    
                        <tr >
                            <td><br></td>
                        </tr>
    
                        <tr>
                            <th>Fees charged</th>
                            <td class="text-wrap-for-th">{{ detail.fees_charged }}</td>
                        </tr>
    
    
                        <tr>
                            <th>Fees paid</th>
                            <td class="text-wrap-for-th">{{ detail.fees_paid }}</td>
                        </tr>
    
                        {% if detail.fees_remaining > 0 %}
                        <tr class="fees-remaining-red-background">
                            <th>Fees remaining</th>
                            <td class="text-wrap-for-th">{{ detail.fees_remaining }}</td>
                        </tr>

                        {% else %}

                        <tr>
                            <th>Fees remaining</th>
                            <td class="text-wrap-for-th">{{ detail.fees_remaining }}</td>
                        </tr>

                        {% endif %}
    
                        <tr >
                            <td><br></td>
                        </tr>
    
    
    
                    </table>

                </div>

                
                {% endfor %}
        </div>
       

       
    </div>

    <!-- -------------------- Patient Details div ends -------------------- -->



    <!-- Main container that shows all the treatment of the patients  -->

    <div class="div-all-treatment-details">

        <h3 style="font-size: 2.8rem;" class="heading-all-details">All treatemnt details</h3>

        {% for detail in patient_all_treatment_details %}

            <div class="div-conatiner-all-treatment-details">

                

                <table class="table">
                    <tr class="treatment-no-st" >
                        <th>Treatment no.</th>
                        <td class="text-wrap-for-th">{{ detail.n_th_treatment }}</td>
                    </tr>

                    <tr >
                        <td><br></td>
                    </tr>

                    <tr>
                        <th>Diagnos</th>
                        <td class="text-wrap-for-th">{{ detail.problem_detail }}</td>
                    </tr>

                    <tr>
                        <th>Symptoms</th>
                        <td class="text-wrap-for-th">{{ detail.symptoms }}</td>
                    </tr>


                    <tr >
                        <th>Treatment given</th>
                        <td class="text-wrap-for-th">{{ detail.treatment_given }}</td>
                    </tr>


                    <tr>
                        <th>Medicine prescribed</th>
                        <td class="text-wrap-for-th">{{ detail.medicine_prescribed }}</td>
                    </tr>

                    
                    <tr >
                        <td><br></td>
                    </tr>


                    <tr>
                        <th>Date on treatemnt given</th>
                        <td class="text-wrap-for-th">{{ detail.current_checkup_date }}</td>
                    </tr>

                    <tr>
                        <th>Next checkup date give</th>
                        <td class="text-wrap-for-th">{{ detail.next_checkup_date }}</td>
                    </tr>


                    <tr>
                        <th>Remarks (Extra)</th>
                        <td class="text-wrap-for-th">{{ detail.remarks }}</td>
                    </tr>

                    <tr >
                        <td><br></td>
                    </tr>

                    <tr>
                        <th>Fees charged</th>
                        <td class="text-wrap-for-th">{{ detail.fees_charged }}</td>
                    </tr>


                    <tr>
                        <th>Fees paid</th>
                        <td class="text-wrap-for-th">{{ detail.fees_paid }}</td>
                    </tr>

                    {% if detail.fees_remaining > 0 %}
                    <tr class="fees-remaining-red-background">
                        <th>Fees remaining</th>
                        <td class="text-wrap-for-th">{{ detail.fees_remaining }}</td>
                    </tr>

                    {% else %}

                    <tr>
                        <th>Fees remaining</th>
                        <td class="text-wrap-for-th">{{ detail.fees_remaining }}</td>
                    </tr>

                    {% endif %}

                    <tr >
                        <td><br></td>
                    </tr>



                </table>


                <!-- <button onclick="showHideEditTreatmentDetails()" id="{{ detail.n_th_treatment }}" style="width: fit-content;" class="shadow-btn">Edit</button> -->

                <!--  -->

                <form  action="{% url 'change_treatment_details' %}" method="post" enctype="multipart/form-data" onsubmit="disableButton();" >
                    {% csrf_token %}
                    
                    <input style="display: none;" value="{{ patient.id }}" name="patient_id_change_treatment" id="patient_id_change_treatment">
                    <input style="display: none;" value="{{ detail.n_th_treatment }}" name="treatment_no" id="treatment_no">
                    <button id="{{ detail.n_th_treatment }}" type="submit" style="width: fit-content;" class="shadow-btn"> Edit </button>
                </form>


                <!--  -->

            </div>
            
            {% endfor %}
        
    </div>
   


    <!-- Main container that shows all the treatment of the patients  ends -->


     <!-- ------------------------ Form Edit treatment details ------------------------ -->





     <!-- ---------------------- Form Edit treatment details ends --------------------- -->


     <!-- <div id="patient-edit-treatment-detail-form" class="div-form-container" style="display: none;" >
        <div class="form-heading">Patient Treatment Detaila</div>
            <form  action="{% url 'save_treatment_details' %}" method="post" enctype="multipart/form-data" onsubmit="disableButton();" class="form-container-formm">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Patient Name: {{ patient.name }} </label>
                </div>
        
                --------------------------------

                <div  class="mb-3">
                    <label for="startDate">Next check up date</label>
                    <input id="next_checkup" name="next_checkup" class="form-control" type="date" required />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        <button type="clear" onclick="showHideEditTreatmentDetails()" class="btn btn-primary mb-4 btn-hide-regis-form">Cancel</button>
    </div> -->

    <!-- ------------------------ Form Add treatment details ------------------------ -->
    
    <div id="patient-treatment-detail-form" class="div-form-container" style="display: none;" >
        <div class="form-heading">Patient Treatment</div>
            <form  action="{% url 'save_treatment_details' %}" method="post" enctype="multipart/form-data" onsubmit="disableButton();" class="form-container-formm">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Patient Name: {{ patient.name }} </label>
                </div>
        
                <div >
                    <label  class="form-label" >Id: {{ patient.id }}</label>
                </div>

                <div >
                    <label  class="form-label" >Treatment no. : {{ treatment_no }}</label>
                </div>
                

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Dignosis</label>  <!-- Problem in detail -->
                    <textarea class="form-control" id="problem" name="problem" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Symptoms</label>  <!-- Problem in detail -->
                    <textarea class="form-control" id="symptoms" name="symptoms" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Treatment given</label>
                    <textarea class="form-control" id="treatment_given" name="treatment_given" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Medicine Prescribed</label>
                    <textarea class="form-control" id="medicine_prescribed" name="medicine_prescribed" rows="3"></textarea>
                </div>

                <div  class="mb-3">
                    <label for="startDate">Current check date</label>
                    <input id="current_checkup_date" name="current_checkup_date" class="form-control"  type="date" required />
                </div>

                <div  class="mb-3">
                    <label for="startDate">Next check up date</label>
                    <input id="next_checkup" name="next_checkup" class="form-control" type="date"  />
                </div>
                

                <div  class="mb-3">
                    <label>Fees charged</label>
                    <input id="fees_charged" name="fees_charged" class="form-control" type="number" required />
                </div>

                <div  class="mb-3">
                    <label>Fees paid</label>
                    <input id="fees_paid" name="fees_paid" class="form-control" type="number" required onfocusout="show_remaining_fees()" />
                </div>


                <div  class="mb-3">
                    <label>Remaining fees</label>
                    <input  id="fees_remaining" name="fees_remaining" class="form-control" type="number" value="" disabled onclick="show_remaining_fees()" />
                </div>


                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Remarks (extra)</label>
                    <input class="form-control" id="remarks" name="remarks" rows="3" />
                </div>


                

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        <button type="reset" onclick="showForm()" class="btn btn-primary mb-4 btn-hide-regis-form">Cancel</button>

        <button type="reset" onclick="show_remaining_fees()" class="btn btn-primary mb-4 btn-hide-regis-form">show</button>

    </div>



    <!-- --------------------- Add treatment details ends ---------------------- -->


    <script>

        let isPatientTreatmentForm = false

        let isEditTreatmentDetailsVisible = false

        document.addEventListener('keydown', function(event) {
            if (event.key === "Escape") { // Or event.keyCode === 27
              // Code to execute when the Escape key is pressed
              document.getElementById('patient-treatment-detail-form').style.display = 'none';
              document.getElementById('change-patient-details-form').style.display = 'none';
              document.getElementById('patient-edit-treatment-detail-form').style.display = 'none';

            }
        });


        function showForm() {
            if (isPatientTreatmentForm) {
                document.getElementById('patient-treatment-detail-form').style.display = 'none';
                isPatientTreatmentForm = false
            }
            else {
                document.getElementById('patient-treatment-detail-form').style.display = 'block';
                isPatientTreatmentForm = true
            }
        }


        isChangePatientFormVisible = false
        function showChangePatientForm() {
            if (isChangePatientFormVisible) {
                document.getElementById('change-patient-details-form').style.display = 'none';
                isChangePatientFormVisible = false
            }
            else {
                document.getElementById('change-patient-details-form').style.display = 'block';
                isChangePatientFormVisible = true
            }
        }

        function showHideEditTreatmentDetails() {
            if (isEditTreatmentDetailsVisible) {
                document.getElementById('patient-edit-treatment-detail-form').style.display = 'none';
                isPatientTreatmentForm = false
                
            }
            else {
                document.getElementById('patient-edit-treatment-detail-form').style.display = 'block';
                isPatientTreatmentForm = true
            }
        }


        function show_remaining_fees() {
            let charged_fees = document.getElementById('fees_charged').value;
            let fee_paid = document.getElementById('fees_paid').value;


            charged_fees = parseFloat(charged_fees)

            console.log("parsed float = " + parseFloat(charged_fees))
            fee_paid = parseFloat(fee_paid);
            let remaining_fees = charged_fees - fee_paid;

            if(charged_fees < 0) {
                alert('Charged fees cannot be less than 0 !')
            }


            if(fee_paid < 0) {
                alert('Paid fees cannot be less than 0 !')
            }

            if(remaining_fees < 0) {
                alert('Fee remaining is less than 0 ! You might have entered wrong values for the fees paid or fees charged')
            }


            document.getElementById('fees_remaining').value = remaining_fees + "";

        
        }

        isBig = false
        function showImgInBigSize() {
            if(!isBig)
            {
                document.getElementById('patient-img-cont').className = 'patient-pi2';
                isBig = true;
            }
            else 
            {
                document.getElementById('patient-img-cont').className = 'patient-pi';
                isBig = false;
            }
        }

    </script>

    <!-- Bootstrap boiler plate -->

    <script 
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
    </script>

    <!-- Bootstrap ends here -->

</body>
</html>